{% extends 'base.html' %}


{% block head %}
<script src="{{ url_for('static', filename='javascript/chatSocket.js')}}"></script>
{% endblock %}


{% block title %} Astrodome | Chat {% endblock %}


{% block body %}

<div class="container chat-popup">
    <div class="card">
        <div class="car-header">
            <h4 class="chatTitle">World Chat #4</h4>
        </div>
        
        <hr>

        <div class="card-body messageDiv">
            <ul id="messages" class="messages list-group">
            </ul>
        </div>

        <hr>

        <div class="card-footer sendMSG">
            <input type="text" name="myMessage" id="myMessage" class="form-control" placeholder="Send a message...">
            <button class="btn-primary" id="sendButton">Send Message ✉️</button>
        </div>

    </div>
</div>

{% endblock %}